!!!
html
  head
    title Duchess France Quizz
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.2/jquery.cookie.min.js')
    script(src='/javascripts/game.js')
  body
    h1(id='team') Your team: #{team}
    h2 Which one?
    button(id='btnA', value='A') A
    button(id='btnB', value='B') B
    button(id='btnC', value='C') C
